{% extends 'protected.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/edit.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.ui.core.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.ui.datepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.ui.theme.css"/>
    <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.form.js"></script>
    <script type="text/javascript" src="/static/js/form.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.custom.min.js"></script>
{% endblock head %}

{% block body %}
    <a id="home" href="{% url bcard.views.home %}">home</a>
    <form action="{% url edit %}" method="post" id="edit_business_card_form">{% csrf_token %}
    {% include "form.html" %}
    </form>
{% endblock body%}
