    <table>
    {% for f in form %}
        <tr>
            <td>{{ f.label_tag }}:</td>
            <td>{{ f }}</td>
        {% for e in f.errors %}
            <td class="error">{{ e }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
        <tr>
            <td colspan=2 id="submit">
                <input type="submit" value="Apply changes"/>
            </td>
            <td>
                <img src="/static/img/progress.gif" id="progress" />
            </td>
        </tr>
    </table>
