.error {
    color: red;
}

table {
    margin-left: 30%;
    margin-top: 10%;
}

#submit {
    text-align: right;
}

#home {
    position: absolute;
    top: 10px;
    left: 10px;
}

#progress {
    width: 28px;
    height: 28px;
    visibility: hidden;
}
